<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>@@title</title>
<meta name="description" content="@@decription">
<meta name="keywords" content="@@keywords"></meta>

<meta property="og:type" content="@@ogType"></meta>
<meta property="og:image" content="@@ogImage"></meta>
<meta property="og:title" content="@@ogTitle"></meta>
<meta property="og:url" content="@@ogUrl"></meta>

@@for (var i = 0; i < inboundLinks.length; i++) {
    <link rel="stylesheet" href="`+inboundLinks[i]+`">
}
<link rel="stylesheet" href="@@stylePath">